/* Styles for ship-list.html */
.card {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #fff;
  border-radius: 10px;
  border: 2px solid var(--base-color);
}

.header {
  background: var(--base-color);
	color: var(--text-light);
  font-size: var(--font-size-base);
  font-weight: bold;
  padding: .5rem;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.body {
  display: grid;
  padding: 1.5rem 1.2rem 2rem 1.2rem;
}

.ship-list-loading {
  text-align: left;
  color: var(--base-color);
  font-weight: bold;
  margin: 1em;
}

.ship-list-error {
  color: #b00020;
  text-align: left;
  font-weight: bold;
  margin: 1em;
}

.ship-list-select {
  width: 100%;
  max-width: 250px;
  padding: 0.4rem 0.7rem;
  border: 1.5px solid var(--base-color);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--base-color);
	background: #fff;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: center;
}

select>option {
  color: var(--base-color);
}
