.container {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 10px;
   border: 2px solid #6A5449;
   border-radius: 4px;
   margin-top: 5px;
}

.page-title {
   font-size: 1em;
   font-weight: bold;
   color: darksalmon;
   padding: 0 0 10px 0
}

.grid {
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 10px;
   width: 100%;
   margin: 0 0 auto;
   min-width: 80px;
   max-width: 400px;
}

.row {
   display: contents;
}

.cellFull {
   padding: 3px;
   text-align: center;
   grid-column: 1 / 3;
   width: 100%;
}

.cellLeft {
   color: #6A5449;
   padding: 3px;
   text-align: left;
   grid-column: 1 / 2;
}

.cellRight {
   color: #6A5449;
   padding: 3px;
   text-align: left;
   grid-column: 2 / 3;
}

table {
   align-items: baseline;
   display: grid;
   grid-template-columns: minmax(60px, 1fr) minmax(60px, 1fr);
   grid-gap: 10px;
   margin-top: 20px;
   min-width: 100%;
   text-align: left;
}

thead,
tbody,
tr {
   display: contents;
}

th {
   color: #6A5449;
   font-weight: bold;
   position: sticky;
}

td {
   color: #6A5449;
   text-align: left;
}

select {
   color: #6A5449;
   font: inherit;
   margin: 10px 0;
   width: 280px;
}

select>option {
   color: #6A5449;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
}