<!-- v17 - New template syntax (control flow) -->
<!-- v18.1 - New @let declaration -->
<div class="container">
  @let member = selectedMember;

  <h1>{{pageTitle}}
    @if (member) {
      for: {{ member.name}}
    }
  </h1>

  <div class="grid">
    <div class="row">
      <select class="select" (change)="onSelected($event.target)">
        <option value="" disabled selected>--Select a team member--</option>
        @for(member of members; track member.id) {
          <option [value]='member.id'>{{ member.name }}</option>
        }
      </select>
    </div>
    <div class="row">
      <label>
        <input class="check" type='checkbox' (change)='onFilter($event.target)' />
        Show only incomplete tasks
      </label>
    </div>
  </div>

  @if (isLoading) {
    <div class='indicator'>Loading ...</div>
  }

  @let todos = todosForMember;
  @if (todos.length>0) {
    <div class='grid'>
      <div class='cellHeader'>Task</div>
      <div class='cellHeader'>Completed?</div>

      @for(t of todos; track t.id) {
        <div class='row' [ngClass]='{stripe: $even}'>
          <div class='cell'>{{ t.title}}</div>
          <div class='cellCheck'>
            <input type='checkbox' [checked]='t.completed'
                   (change)='onChangeStatus(t, $event.target)'>
          </div>
        </div>
      } @empty {
        @if(member) {
          @if(incompleteOnly) {
            <div>No incomplete todos</div>
          } @else {
            <div>No todos found</div>
          }
        }
      }
    </div>
  }

  @let message = errorMessage;
  @if (message) {
    <div>Error: {{ message }}</div>
  }
</div>